
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font: weight 700px;;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    max-width: 1140px;
    margin: 30px auto;
}
/* texts-color */
.light-blue{
    color: #8987A1;
}
.black{
    color: #252432;
}
.text-orange{
    color: #E95A08;
}
.header-section{
    
    margin-top: 30px;
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
/* navbar style */
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
}
.nav ul{
    display: flex;
     align-items: center;
    justify-content: center;
    gap: 48px;
     
}
.nav ul li{
    list-style: none;
 
}
.nav li a {
    text-decoration: none;
}
.nav-link{
    text-decoration: none;

}
/* banner style */
.banner{
    margin-top: 114px;
}
.banner-title{
  font-weight: 700px;
  font-size: 4rem;
}
.banner-description{
    
    font-size: 1.4rem;
}
.item{
    margin-top: 115px;
    justify-items: center;
}
.item-title{
    font-weight: 700px;
    font-size: 3.125rem;

}
.item-content{
    font-size: 1.4rem;
}
/* card style */
.card{
    width: 270px;
    height: 485px;
}
.card-details{
    text-align: center;
}
.card-title{
    font-weight: 500;
}
.prize{
    font-weight: 700;
}
.btn-primary{
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 20px 50px;
    width: 270px;
    height: 50px;
}
.cards{
    
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.flower-review{
    margin-top: 210px;
    gap: 50px;
    justify-content: space-between;
}
.flower-title{
    font-weight: 700;
    font-size: 3.125rem;
}
.image{
    width: 540px;
    height: 597px;
}
.flower-description{
    font-size: 1.375rem;
   
}

    

.bages{
    position: absolute;
   
}

/* dicount section style */
.deal{
    margin-top: 134px;
}
.discount{
    justify-items: center;
}
.deals{
    font-weight: 700;
    font-size: 3.125rem;
}
.container {
      display: flex;
      gap: 20px;
      max-width: 1140px;
      margin-top: 119px;
    }

    .left-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
    }

    .right-card {
      flex: 2;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      text-align: center;
    }

    .discount-card {
      height: 200px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .discount-card h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
 .buy-section{
    color: #FFFFFF;
 }
    .buy-sections{
        font-weight: 600;
        font-size: 1.75rem;
    }

    .right-card h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .right-card span {
      font-size: 18px;
      background: #000000a0;
      padding: 8px 16px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 10px;
    }
    /* join section style */
.join-section {
  width: 1440px;
  margin: 110px auto;
  height: 533px;
  align-items: center;
  justify-items: center;
}


.container h1 {
  font-size: 3.125rem;
  color: #FFFFFF;
}

.from-section{
    width: 644px;
    height: 50px;
}

.footer {
  background-color: #f9fafb;
  margin: 50px auto;
  width: 1120px;
  height: 248px;
}

.footer-content {
  max-width: 1130px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-left {
  flex: 1 1 250px;
}

.footer-left .logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-left p {
  max-width: 300px;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  flex: 2 1 400px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
}



.footer-social {
  display: flex;
 justify-items: right;
 align-items: center;
  margin-bottom: 212px;
  gap: 20px;
}


